name: Mirror Weather Image

on:
    schedule:
        - cron: "*/15 * * * *" # every 15 minutes
    workflow_dispatch:

jobs:
    mirror:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20

            - run: npm install
            - run: node mirror-image.js
              env:
                  NODE_TLS_REJECT_UNAUTHORIZED: "0"
                  R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
                  R2_ACCESS_KEY: ${{ secrets.R2_ACCESS_KEY }}
                  R2_SECRET_KEY: ${{ secrets.R2_SECRET_KEY }}
